@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap");
html,
body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
